@charset "utf-8";

/* SUB VISUAL */
.sub_visual {text-align: center; color: #fff; background: url(../images/sub/bg_sub1.jpg) no-repeat center center / cover;}
.sub_visual .sub_txt {padding: 300px 0 200px;} /* đẩy phần chữ xuống qua giữa visual */
.sub_visual h2 {font-size: 8rem; padding-bottom: 50px; font-family: var(--sub-font); font-weight: 400;}
.sub_visual p {font-size: 2rem;}
.sub_visual p::before {content: ""; display: block; width: 1px; height: 30px; background: #fff;position: absolute; left: 50%; top: 420px;}



/* BRAND STORY */
.brand_story {padding: 100px 0 200px; border-bottom: 1px solid #eee;}
.brand_story .inner {max-width: 1400px;}
.brand_story h3 {font-size: 4rem; text-align: center; padding-bottom: 100px;}


.brand_story .story {display: flex; flex-wrap: wrap; justify-content: space-between; align-items: center;}
.brand_story .story .bs_img img {display: block; width: 100%;}
.brand_story .story .bs_txt span {text-transform: capitalize; font-size: 5rem; color: var(--main-color); font-family: var(--sub-font); font-weight: 700; position: relative;}
.brand_story .story .bs_txt span::before {content: ""; position: absolute; width: 110%; height: 17px; background: var(--main-color);  opacity: 20%; transform: skew(-10deg); left: -10px; bottom: 7px;}
.brand_story .story .bs_txt h4 {font-size: 4rem; font-family: var(--sub-font); padding: 50px 0 30px; font-weight: 400;}
.brand_story .story .bs_txt p {color: #666; padding: 7px 0; font-size: 1.8rem;}

.brand_story .story_01 {flex-direction: row;}
.brand_story .story_01 .bs_img {width: 40%;}
.brand_story .story_01 .bs_txt {width: 50%;}

.brand_story .story_02 {flex-direction: row-reverse;}
.brand_story .story_02 .bs_img {width: 40%;}
.brand_story .story_02 .bs_txt {width: 30%;}

.brand_story .story_03 {flex-direction: row;}
.brand_story .story_03 .bs_img {width: 50%;}
.brand_story .story_03 .bs_txt {width: 40%;}

.brand_story .story_04 {flex-direction: row-reverse;}
.brand_story .story_04 .bs_img {width: 30%;}
.brand_story .story_04 .bs_txt {width: 40%;}

@media (max-width: 120px) {
  .brand_story .story .bs_txt span {font-size: 4.5rem;}
  .brand_story .story .bs_txt h4 {font-size: 3.5rem;}
  .brand_story .story .bs_txt p {font-size: 1.7rem;}
}
@media (max-width: 1024px) {
  .brand_story .story .bs_txt span {font-size: 4rem;}
  .brand_story .story .bs_txt {margin: 20px 0;}
  .brand_story .story .bs_txt h4 {font-size: 3rem; padding: 30px 0 10px;}
  .brand_story .story .bs_img {width: 100%;}
  .brand_story .story .bs_txt {width: 100%;}
}
@media (max-width: 900px) {
  .brand_story .story .bs_txt span {font-size: 3rem;}
  .brand_story .story .bs_txt h4 {font-size: 2.5rem;}
  .brand_story .story .bs_txt p {font-size: 1.6rem;}
}